* {
    color: white;
}

.custom-height {
    height: 30px;
}

#body img {
    aspect-ratio: 3/2;
}

#contacto {
    justify-content: center;
}

#msg{
    justify-content: center;
}


#footer-bg {
    background-color: rgb(14, 202, 240);
}